.header-top img{
    vertical-align: unset !important;
}

.lemon{
    width: 50%;
    margin: 0 auto;
    transform: translateX(-10%)rotate(-45deg);

}
.bannerLemon1{
    position: absolute;
    width: 150px;
    transform: translate(500%,-132%)rotate(-28deg)scale(0.3);
}

.bannerLemon2{
    position: absolute;
    width: 150px;
    left: 30%;
    transform: translate(230%,-159%)rotate(-35deg)scale(0.5);
}

.bannerLemon3{
    position: absolute;
    width: 150px;
    left: 67%;
    transform: translate(-235%,-90%)rotate(30deg)scale(1.5);
}

.bannerLemon4{
    position: absolute;
    width: 150px;
    left: 10%;
    z-index: 99999;
    transform: translate(0,230%)rotate(-28deg)scale(2.5);
}

.bannerLemon5{
    position: absolute;
    width: 150px;
    transform: translate(355%,-199%)rotate(-68deg)scale(0.7);
}

.bannerLemon6{
    position: absolute;
    width: 150px;
    transform: translate(100%,15%)rotate(82deg)scale(2);
}

#menu li:hover .lemon{
    transform: translateX(-10%)rotate(-23deg);

}

.cup{
    width: 500px;
    transform: rotate(-30deg);
    position: absolute;
    bottom:0;
    left: 50%;
    z-index: 99999;
}

.banner .title{
    width: 100%;
    color: #F1DC9A;
    font-size: 500px;
    position: absolute;
    transform: translate(-45vh,20vh);
    opacity: 0.7;
}

.porductfloat{
    position: absolute;
    top: 0;
    left: 0;
}
.porductfloat p{
    font-size: 16px;
}

.modal-title{
    text-align: center;
    width: 100%;
    font-weight: 900;
}

.modal-content{
    text-align: center;
    background-color: #EDE2E2;
    border: 20px solid #DBAFAF;
    border-radius: 10px;

}
.modal-header ,.modal-footer {
    border:0;
}
button.close:focus {
    outline:none ;
}

.modal-content p{
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

.modal-backdrop {
    display: none;
   
}


.point,.addblock{
    background-color: #828282;
    color:#fff;
    padding: 80px 0;
    font-size: 48px;
}

.banner,.about,.business{
    position: relative;
}

.about img,.business img{
    filter: opacity(0.2);
}
.about .txt {
    width: 60%;
    background-color: rgb(255, 255, 255, .15);
    margin: 0 auto;
    font-weight: 800;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.business img{
    width: 70%;
}

.business .txt {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%,100%);

}

.about h2 {
    margin-bottom: 40px;
    position: relative;
    
}
.about .txt h2::after{
    content:'About';
    font-size: 16px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: 100%;
    
}

.about p {
    font-size: 16px;
    margin: 10px 30px;
    
   

}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #bebebe;
    text-align: center;

    color:#000;
    line-height: 16px;
    font-size: 16px;
    
}

footer p {
    margin: 0;
    padding: 20px 0;
}
@media ( max-width:768px ){
    nav.hide{
        background:unset !important;
    }
    .about .txt {
        width: 100%;
    }
    #menu li .lemon{
        max-width: 70px;
    }
    #menu li a{
        display: flex;  
        
    }
    #menu li h1{
        
        margin:auto;
        order: 1;
        

    }
}