
.icon-phone:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-phone-1:before { content: '\e802'; } /* '' */
.icon-cancel-squared:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */